body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #333;

}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
    background-color: #fff;
    border-radius: 10px;
  }
}

